#side_bar {
  position: static;
}

.side_bar {
  height: 100vh;
  width: 250px;
  overflow-y: scroll;
  padding-right: 15px;
}

.side_bar::-webkit-scrollbar-thumb {
  /* height: 5px; */
  border-radius: 10px;
  background-color: #686567;
}

::-webkit-scrollbar {
  width: 5px;
}
